
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
#homeNav{
    display: flex;
}
a{
    color: gold;
}    
a:hover{
    color: white;
    transform: scale(1.2);
}
#homebody{
    margin: 0;
    height: 100vh;
    background-image: url(images/trial\ 1.webp);
    background-size:cover;    
    background-position:center;    
    background-repeat: no-repeat;

}

#p{
    color: aliceblue;
    font-size: x-large;
}
#intro{
    color:white;
    font-size: x-large;
}
#aboutbody{
    margin: 0;
    height: 100vh;
    background-image: url(images/trial\ 2.webp);
    background-size:cover;    
    background-position:center;    
    background-repeat: no-repeat;
}
#s-genre{
    color:antiquewhite;
    font-weight: 900;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
#Images{
    display: flex;
    height: 70vh;
    justify-content: center;
    
}

#animeList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size:large;
   
    gap: 20px;
}
#description{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    font-size: larger;
    font-style: italic;
   backdrop-filter: blur(6px);
   text-transform: capitalize;   
   color: antiquewhite;
   background-image: url(images/space.png);
}
#animeList{
color: rgba(27, 255, 7, 0.637);
font-size: large;
font-weight: bolder;
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

.genreButton {
    margin: 5px;
    padding: 10px;
    font-family: monospace;
   border-radius: 10px;
   background-color: burlywood;
   cursor: pointer;

}
.genreButton:hover{
    color:white;
    transform: scale(1.3);
}
#Welcome{
color: bisque;
font-family:'Courier New', Courier, monospace;
display: flex;
justify-content: center;
font-size:90px;
}
#al{
    color: gold;
    font-size: 30px;
    font-weight:900;
    display: flex;
    justify-content: center;
    
}
#hp{
    display: flex;
    font-size: 20px;
}